/* Dark Theme */
.dark-theme {
    background-color: #121212;
    color: #fff;
}

.dark-theme .container {
    background-color: #333;
    color: white;
}

.dark-theme .form-control,
.dark-theme .form-select {
    background-color: #444;
    color: white;
    border: 2px solid #007bff;
}


/* Light Theme */
.light-theme {
    background-color: #fff;
    color: black;
}

.light-theme .container {
    background-color: #f4f8fb;
    color: black;
}

.light-theme .form-control,
.light-theme .form-select {
    background-color: #fff;
    color: black;
    border: 2px solid #007bff;
}

.light-theme .btn-primary {
    background-color: #007bff;
}